APP_STAND=local
APP_DEBUG=true

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=qliqy
RABBITMQ_PASSWORD=qliqy-password

#dev
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USE_TLS=false
MAIL_FROM=no-reply@qliqy.local

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=qliqy_mail
POSTGRES_USER=postgres
POSTGRES_PASSWORD=qliqy-password
